import Foundation

public struct ResetPasswordData: Codable {
    public var token: String? // Used for token on forgotten password sequence, not needed if already logged in
    public let currentPassword: String?
    public let password: String
    public let confirmPassword: String
    
    public init(token: String? = nil, currentPassword: String? = nil, password: String, confirmPassword: String) {
        self.token = token
        self.currentPassword = currentPassword
        self.password = password
        self.confirmPassword = confirmPassword
    }
    
    
    public var json: Data? {
        return try? JSONEncoder().encode(self)
    }
    
}
